a{
	font-weight: bold;
	color: rgb(78, 78, 78);
	font-size: 40px;
	
}
	


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.containerHeader{
	font-size: 20px;
}

body{
	background-color: rgb(255, 255, 255);
	width: auto;
}


#scheduleContainer{
	padding-right: 20px;
	    
}

#jumbos{
	padding-top: 0px;
	padding-right:  0px;
	padding-bottom: 2px;
	padding-left: 0px;
	border-bottom:3px #dddddd;
}



#mainContainer{
	margin-left: 0px;
    margin-right: 0px;
}

#addTrain{
	padding-left:  20px;
	
}

.minuscula{
	font-size: 20px;
}

#map {
	height: 560px;
}

#mapMainContainer{
	height: 100%;
}

#logo{
	background-color: #667;
	border: 1px solid #667;
	border-radius: 0px;
	margin-bottom: 1px solid #667;

}

.siteClass{
	font-size: 14px;

}

h4, h5{
	height: 10px;
}

h6{

	margin-top: 4px;
}

.col-md-3{
	padding-left: 4px;
    padding-right: 4px;
}

.boxHigh{
	height: 110px;
	padding-left: 4px;
    padding-right: 4px;

}
